aulaSpeech02_05.json
[
    {
        "id": "2432c7330d9ea270",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "acde6d04e341334d",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3d053d9154515c3d",
        "type": "telegram bot",
        "botname": "assistente_apollo_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "f72628617f3f610f",
        "type": "debug",
        "z": "acde6d04e341334d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 200,
        "wires": []
    },
    {
        "id": "85f4a620b5ece138",
        "type": "watson-assistant-v2",
        "z": "acde6d04e341334d",
        "name": "Apollo",
        "service-endpoint": "https://api.au-syd.assistant.watson.cloud.ibm.com/instances/d0252c05-648c-4889-a69e-a3ecc1fa4ce1",
        "assistant_id": "59768e58-73c1-4a4b-ba70-2095bc12ffcb",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 470,
        "y": 260,
        "wires": [
            [
                "f72628617f3f610f",
                "e9d525cb38d73825",
                "dfac64ba592fbb48"
            ]
        ]
    },
    {
        "id": "cbf36e1f75e1bd2d",
        "type": "debug",
        "z": "acde6d04e341334d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 240,
        "wires": []
    },
    {
        "id": "192dc86e4a8fab6f",
        "type": "change",
        "z": "acde6d04e341334d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "params.session_id",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "chatId",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.content",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 260,
        "wires": [
            [
                "85f4a620b5ece138"
            ]
        ]
    },
    {
        "id": "e9d525cb38d73825",
        "type": "change",
        "z": "acde6d04e341334d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.chatId",
                "pt": "msg",
                "to": "chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "message",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.content",
                "pt": "msg",
                "to": "payload.output.generic[0].text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 280,
        "wires": [
            [
                "72ee784ead4214b9",
                "cbf36e1f75e1bd2d"
            ]
        ]
    },
    {
        "id": "718ec830bb9bba28",
        "type": "function",
        "z": "acde6d04e341334d",
        "name": "",
        "func": "msg.payload.content = \"Voce nao é usuario autorizado\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 340,
        "wires": [
            [
                "72ee784ead4214b9"
            ]
        ]
    },
    {
        "id": "e2a202c00c6c91eb",
        "type": "http in",
        "z": "acde6d04e341334d",
        "name": "",
        "url": "/conversa",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 460,
        "wires": [
            [
                "86cd6bfbf3305923"
            ]
        ]
    },
    {
        "id": "86cd6bfbf3305923",
        "type": "function",
        "z": "acde6d04e341334d",
        "name": "",
        "func": "msg.params = {\n\"session_id\" : msg.payload.session_id !== 'undefined' ? msg.payload.session_id : \"\"\n};\nmsg.payload = msg.payload.mensagem;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 460,
        "wires": [
            [
                "85f4a620b5ece138"
            ]
        ]
    },
    {
        "id": "dfac64ba592fbb48",
        "type": "function",
        "z": "acde6d04e341334d",
        "name": "",
        "func": "msg.payload = msg.payload.output.generic;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 480,
        "wires": [
            [
                "5d3653745b8479ec"
            ]
        ]
    },
    {
        "id": "5d3653745b8479ec",
        "type": "http response",
        "z": "acde6d04e341334d",
        "name": "",
        "statusCode": "",
        "headers": {
            "Access-Control-Allow-Origin": "*"
        },
        "x": 730,
        "y": 580,
        "wires": []
    },
    {
        "id": "c7602f93d7e8762b",
        "type": "telegram receiver",
        "z": "acde6d04e341334d",
        "name": "",
        "bot": "3d053d9154515c3d",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 110,
        "y": 340,
        "wires": [
            [
                "192dc86e4a8fab6f"
            ],
            [
                "718ec830bb9bba28"
            ]
        ]
    },
    {
        "id": "72ee784ead4214b9",
        "type": "telegram sender",
        "z": "acde6d04e341334d",
        "name": "",
        "bot": "3d053d9154515c3d",
        "haserroroutput": false,
        "outputs": 1,
        "x": 850,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "4fc3ba513f3b9878",
        "type": "telegram receiver",
        "z": "acde6d04e341334d",
        "name": "",
        "bot": "3d053d9154515c3d",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 250,
        "y": 1260,
        "wires": [
            [
                "2accc192a864f8c2",
                "2515ed09428641a6"
            ],
            []
        ]
    },
    {
        "id": "2accc192a864f8c2",
        "type": "function",
        "z": "acde6d04e341334d",
        "name": "",
        "func": "msg.payload = msg.payload.weblink;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1260,
        "wires": [
            [
                "e4a2c94895b401b1"
            ]
        ]
    },
    {
        "id": "86ef6f9c3a7a2532",
        "type": "debug",
        "z": "acde6d04e341334d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 1260,
        "wires": []
    },
    {
        "id": "e7f3bc9114ed1663",
        "type": "microphone",
        "z": "acde6d04e341334d",
        "name": "",
        "x": 290,
        "y": 1040,
        "wires": [
            [
                "12624f20af7f3576",
                "ba53ba6131345fc3"
            ]
        ]
    },
    {
        "id": "ba53ba6131345fc3",
        "type": "watson-speech-to-text",
        "z": "acde6d04e341334d",
        "name": "",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "ZKD1e525PYv5Tl8bG6GP3zVNLqS_SOrlkangN5vN2pjK",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.au-syd.speech-to-text.watson.cloud.ibm.com/instances/bd57c0c3-e3bd-4211-9cf3-de8017a8d7a4",
        "x": 500,
        "y": 1040,
        "wires": [
            [
                "e394804c8cd7632e"
            ]
        ]
    },
    {
        "id": "e394804c8cd7632e",
        "type": "debug",
        "z": "acde6d04e341334d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 1040,
        "wires": []
    },
    {
        "id": "12624f20af7f3576",
        "type": "debug",
        "z": "acde6d04e341334d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 960,
        "wires": []
    },
    {
        "id": "2515ed09428641a6",
        "type": "debug",
        "z": "acde6d04e341334d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 1160,
        "wires": []
    },
    {
        "id": "e4a2c94895b401b1",
        "type": "watson-speech-to-text",
        "z": "acde6d04e341334d",
        "name": "",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "ZKD1e525PYv5Tl8bG6GP3zVNLqS_SOrlkangN5vN2pjK",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.au-syd.speech-to-text.watson.cloud.ibm.com/instances/bd57c0c3-e3bd-4211-9cf3-de8017a8d7a4",
        "x": 640,
        "y": 1260,
        "wires": [
            [
                "86ef6f9c3a7a2532"
            ]
        ]
    }
]